<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="handler.ashx" verb="*" type="WcfBindingPerformance.Services.PerfTestHandler"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=1.0.110.0, Culture=neutral, PublicKeyToken=null" />
      </bindingExtensions>
    </extensions>
    <bindings>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="StreamedResponse">
          <security mode="None" />
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>
      <netTcpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="StreamedResponse">
          <security mode="None" />
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </wsDualHttpBinding>
      <rabbitMQBinding>
        <binding name="rabbitMQConfig" protocolversion="AMQP_0_9_1" hostname="localhost" port="5672" />
      </rabbitMQBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1338/WcfBindingPerformance/Services/PerfTestTcp.svc" binding="netTcpBinding" contract="WcfBindingPerformance.Services.IPerfTestTcp" name="PerfTestTcp" />
      <endpoint address="http://localhost:1337/WcfBindingPerformance/Services/PerfTestWeb.svc/web" binding="webHttpBinding" contract="WcfBindingPerformance.Services.IPerfTestWeb" name="PerfTestWeb" />
      <endpoint address="http://localhost:1337/WcfBindingPerformance/Services/PerfTestBasic.svc/basic" binding="basicHttpBinding" contract="WcfBindingPerformance.Services.IPerfTestBasic" name="PerfTestBasic" />
      <endpoint address="http://localhost:1337/WcfBindingPerformance/Services/PerfTestWs.svc/ws" binding="wsHttpBinding" contract="WcfBindingPerformance.Services.IPerfTestWs" name="PerfTestWs" />
      <endpoint address="soap.amqp:///PerfTest" binding="rabbitMQBinding" bindingConfiguration="rabbitMQConfig" contract="WcfBindingPerformance.Services.IPerfTestRabbit" name="PerfTestRabbit" />
      <!--<endpoint address="soap.amqp:///Duplex" binding="rabbitMQBinding" bindingConfiguration="rabbitMQConfig" contract="WcfBindingPerformance.Services.IDuplexService" name="DuplexRabbit" />-->
    </client>
    <services>
      <service name="WcfBindingPerformance.Services.PerfTestTcp">
        <endpoint address="" binding="netTcpBinding" contract="WcfBindingPerformance.Services.IPerfTestTcp" />
      </service>
      <service name="WcfBindingPerformance.Services.PerfTestWeb">
        <endpoint address="web" binding="webHttpBinding" contract="WcfBindingPerformance.Services.IPerfTestWeb" behaviorConfiguration="WebHttp" />
      </service>
      <service name="WcfBindingPerformance.Services.PerfTestBasic">
        <endpoint address="basic" binding="basicHttpBinding" contract="WcfBindingPerformance.Services.IPerfTestBasic" />
      </service>
      <service name="WcfBindingPerformance.Services.PerfTestWs">
        <endpoint address="ws" binding="wsHttpBinding" contract="WcfBindingPerformance.Services.IPerfTestWs" />
      </service>
      <service name="WcfBindingPerformance.Services.DuplexTcpService">
        <endpoint address="" binding="netTcpBinding" contract="WcfBindingPerformance.Services.IDuplexService" />
      </service>
      <service name="WcfBindingPerformance.Services.DuplexWsService">
        <endpoint address="" binding="wsDualHttpBinding" contract="WcfBindingPerformance.Services.IDuplexService" />
      </service>
      <service name="WcfBindingPerformance.Services.PerfTestRabbit">
        <host>
          <baseAddresses>
            <add baseAddress="soap.amqp:///" />
          </baseAddresses>
        </host>
        <endpoint address="PerfTest" binding="rabbitMQBinding" bindingConfiguration="rabbitMQConfig" contract="WcfBindingPerformance.Services.IPerfTestRabbit" />
      </service>
      <service name="WcfBindingPerformance.Services.DuplexRabbitService">
        <host>
          <baseAddresses>
            <add baseAddress="soap.amqp:///" />
          </baseAddresses>
        </host>
        <endpoint address="Duplex" binding="rabbitMQBinding" bindingConfiguration="rabbitMQConfig" contract="WcfBindingPerformance.Services.IDuplexService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add initializeData= "c:\logs\PerfTests.svclog" name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
</configuration>