<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=1.0.110.0, Culture=neutral, PublicKeyToken=null" />
      </bindingExtensions>
    </extensions>
    <bindings>
      <rabbitMQBinding>
        <binding name="rabbitMQConfig" protocolversion="AMQP_0_9_1" hostname="localhost" port="5672" />
      </rabbitMQBinding>
    </bindings>
    <client>
      <endpoint name="DuplexRabbit" address="soap.amqp:///Duplex" binding="rabbitMQBinding" bindingConfiguration="rabbitMQConfig" contract="WcfBindingPerformance.Services.IDuplexService" />
    </client>
    <services>
      <service name="WcfBindingPerformance.Services.DuplexRabbitService">
        <host>
          <baseAddresses>
            <add baseAddress="soap.amqp:///" />
          </baseAddresses>
        </host>
        <endpoint address="Duplex" binding="rabbitMQBinding" bindingConfiguration="rabbitMQConfig" contract="WcfBindingPerformance.Services.IDuplexService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
